.itemWrapper {
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 11;
  margin: 3vw 0;

  .itemTitle {
    display: inline-block;
    margin-left: 60px;
    color: #e5e5e5;
    margin: 0 60px 15px;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 1.6vw;
    color: #fff;

    @media (max-width: 768px) {
      margin: 0 4% 5px;
    }
  }

  .modal-wrapper {
    .modalWrap {
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30vw;
      height: 100%;
      z-index: 10;

      .modalimgwrap {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 56.3925%;

        .modalImg {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .itemInner {
    height: 100%;

    .swiperWrapper {
      padding: 0 60px;

      @media (max-width: 768px) {
        padding: 0 4%;
      }

      > div {
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1) !important;
      }
    }

    .rankItem {
      position: relative;
      padding: 35.714285714% 0;
      width: 100%;

      .rankIcon {
        position: absolute;
        width: 50%;
        top: 0;
        left: 0;
      }

      > img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
      }
    }

    img {
      position: relative;
      max-width: 100%;
      border-radius: 5px;

      @media (max-width: 500px) {
        border-radius: 0;
      }
    }

    .arrowLeft,
    .arrowRight {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 100%;
      opacity: 0;
      background: hsla(0, 0%, 8%, 0.5);
      cursor: pointer;

      @media (max-width: 1400px) {
        width: 4%;
      }

      @media (max-width: 768px) {
        width: 5.4%;
      }

      &:hover {
        opacity: 1;
        background: hsla(0, 0%, 8%, 0.7);
      }
    }

    .arrowLeftImg,
    .arrowRightImg {
      max-width: 20px;

      @media (max-width: 500px) {
        max-width: 10px;
      }
    }

    .arrowLeft {
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 0 4px 4px 0;
      transform: translateY(-50%);
      z-index: 10;

      @media (max-width: 500px) {
        border-radius: 0;
      }
    }

    .arrowRight {
      position: absolute;
      top: 50%;
      right: 0;
      border-radius: 4px 0 0 4px;
      transform: translateY(-50%);
      z-index: 10;

      @media (max-width: 500px) {
        border-radius: 0;
      }
    }
  }
}
