@import '../../../../config/mixin.module';

.gnbWrapper {
  @include flexBetween;
  position: fixed;
  width: 100%;
  height: 68px;
  padding: 0 3%;
  color: #e5e5e5;
  word-break: keep-all;
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  transition: background-color ease-in 0.4s;
  z-index: 101; // modal 보다 위에

  @media (max-width: 949px) {
    height: 41px;
  }
}

.bgBlack {
  background-color: rgb(20, 20, 20);
}

.nav {
  @include flexCenter;
  height: 100%;
  column-gap: 25px;

  @media (max-width: 884px) {
    column-gap: 18px;
  }

  .logo {
    height: 100%;
    max-height: 50px;
  }
}

.rightNav {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.ul {
  display: flex;
  height: 100%;
  column-gap: 20px;
  font-size: 1rem;
  line-height: 1rem;

  @media (max-width: 1200px) {
    font-size: 0.8rem;
  }

  .li {
    color: #e5e5e5;

    &:hover {
      color: #b3b3b3;
    }
  }
}

.liDropWrap {
  @include flexCenter;
  height: 100%;
  padding: 10px 0;

  &:after {
    content: '';
    width: 0;
    height: 0;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #fff transparent transparent;
  }

  &:hover {
    .liDropMenu {
      opacity: 1;
    }
  }

  .liDropArrow {
    position: absolute;
    width: 0;
    height: 0;
    top: -16px;
    left: 50%;
    margin-left: -7px;
    border: 7px solid transparent;
    border-bottom-color: #e5e5e5;
  }

  .liDropBar {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e5e5e5;
  }

  .liDropMenu {
    position: absolute;
    top: 71px;
    width: 260px;
    @include flexCenter;
    flex-direction: column;
    text-align: center;
    color: #fff;
    line-height: 21px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid hsla(0, 0%, 100%, 0.15);
    box-sizing: border-box;
    cursor: default;
    transition: all ease 0.4s;

    .liDropMenuUl {
      width: 100%;
    }

    .liDropMenuItem {
      width: 100%;
      padding: 10px 0;
    }
  }
}
